extends ../../layouts/main.pug 
block style
  link(type='text/css' rel='stylesheet' href='/css/movie-details.css')
block content
  section(id='movie-deets-wrap' class='container-fluid')
    aside(class='movie-side-deets')
      img(class='movie-img my-3 rounded d-block' title=`${movie.title}` src=`${movie.image}` alt=`${movie.title}`)
      p(class='movie-title text-light text-center') #{movie.title}
      p(class='movie-summary text-light px-5 text-center') #{movie.desc}

    main(class='movie-main-deets')

      h3(class='text-light main-heading mb-4') Description
      div(class='movie-desc text-light mb-5') Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

      h3(class='text-light main-heading mb-4') Quotes
      div(class='movie-quotes-wrap mb-5')
        p(class='movie-quote text-light') 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptatem sint, perspiciatis totam officia consectetur.'
          i &nbsp; - Said Character
        p(class='movie-quote text-light') 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptatem sint, perspiciatis totam officia consectetur.'
          i &nbsp; - Said Character
        p(class='movie-quote text-light') 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptatem sint, perspiciatis totam officia consectetur.'
          i &nbsp; - Said Character
        p(class='movie-quote text-light') 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptatem sint, perspiciatis totam officia consectetur.'
          i &nbsp; - Said Character
        p(class='movie-quote text-light') 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptatem sint, perspiciatis totam officia consectetur.'
          i &nbsp; - Said Character

      h3(class='text-light main-heading mb-4') Reviews
      div(id="movie-reviews" class="text-light mb-5")
        div(class='review-wrap mb-4')
          p(class='review-author-wrap')
            span(class='author-img')
            span(class='author-name') John Doe
          p(class='review') Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consectetur, libero dolore natus assumenda eveniet id commodi ratione sit aliquams.
        div(class='review-wrap mb-4')
          p(class='review-author-wrap')
            span(class='author-img')
            span(class='author-name') John Doe
          p(class='review') Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consectetur, libero dolore natus assumenda eveniet id commodi ratione sit aliquams.
        div(class='review-wrap mb-4')
          p(class='review-author-wrap')
            span(class='author-img')
            span(class='author-name') John Doe
          p(class='review') Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consectetur, libero dolore natus assumenda eveniet id commodi ratione sit aliquams.
      
